@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

:root {
    --background: hsl(0 0% 97.6471%);
    --foreground: hsl(0 0% 12.5490%);
    --card: hsl(0 0% 98.8235%);
    --card-foreground: hsl(0 0% 12.5490%);
    --popover: hsl(0 0% 98.8235%);
    --popover-foreground: hsl(0 0% 12.5490%);
    --primary: hsl(137.1429 20.2312% 33.9216%);
    --primary-foreground: hsl(0 0% 100%);
    --secondary: hsl(0 0% 90.1961%);
    --secondary-foreground: hsl(137.1429 20.2312% 33.9216%);
    --muted: hsl(0 0% 93.7255%);
    --muted-foreground: hsl(0 0% 39.2157%);
    --accent: hsl(0 0% 90.9804%);
    --accent-foreground: hsl(0 0% 12.5490%);
    --destructive: hsl(351.7303 123.6748% 30.5257%);
    --destructive-foreground: hsl(223.8136 -172.5242% 100.0000%);
    --border: hsl(0 0% 84.7059%);
    --input: hsl(0 0% 84.7059%);
    --ring: hsl(136.9231 19.7970% 38.6275%);
    --chart-1: hsl(136.9231 19.7970% 38.6275%);
    --chart-2: hsl(0 0% 100%);
    --chart-3: hsl(0 0% 90.9804%);
    --chart-4: hsl(0 0% 100%);
    --chart-5: hsl(136.7442 21.8274% 38.6275%);
    --sidebar: hsl(0 0% 98.4314%);
    --sidebar-foreground: hsl(0 0% 14.5098%);
    --sidebar-primary: hsl(0 0% 20.3922%);
    --sidebar-primary-foreground: hsl(0 0% 98.4314%);
    --sidebar-accent: hsl(0 0% 96.8627%);
    --sidebar-accent-foreground: hsl(0 0% 20.3922%);
    --sidebar-border: hsl(0 0% 92.1569%);
    --sidebar-ring: hsl(0 0% 70.9804%);

    --font-sans: "Nunito", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-serif: "Merriweather", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: "Anonymous Pro", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --radius: 0.0625rem;
    --shadow-x: 0;
    --shadow-y: 1px;
    --shadow-blur: 3px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.1;
    --shadow-color: oklch(0 0 0);
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
}

.dark {
    --background: hsl(0 0% 6.6667%);
    --foreground: hsl(0 0% 93.3333%);
    --card: hsl(0 0% 9.8039%);
    --card-foreground: hsl(0 0% 93.3333%);
    --popover: hsl(0 0% 9.8039%);
    --popover-foreground: hsl(0 0% 93.3333%);
    --primary: hsl(136.8750 20.2532% 69.0196%);
    --primary-foreground: hsl(0 0% 7.0588%);
    --secondary: hsl(0 0% 20%);
    --secondary-foreground: hsl(136.8750 20.2532% 69.0196%);
    --muted: hsl(0 0% 13.3333%);
    --muted-foreground: hsl(0 0% 70.5882%);
    --accent: hsl(0 0% 16.4706%);
    --accent-foreground: hsl(0 0% 93.3333%);
    --destructive: hsl(358.7594 101.8439% 69.8357%);
    --destructive-foreground: hsl(223.8136 0.0004% 98.0256%);
    --border: hsl(166.6667 13.4328% 13.1373%);
    --input: hsl(0 0% 28.2353%);
    --ring: hsl(0 0% 100%);
    --chart-1: hsl(0 0% 100%);
    --chart-2: hsl(150 15.5172% 22.7451%);
    --chart-3: hsl(0 0% 16.4706%);
    --chart-4: hsl(150 16.4179% 26.2745%);
    --chart-5: hsl(0 0% 100%);
    --sidebar: hsl(0 4.9180% 11.9608%);
    --sidebar-foreground: hsl(0 0% 100%);
    --sidebar-primary: hsl(344.1892 68.5185% 57.6471%);
    --sidebar-primary-foreground: hsl(0 0% 100%);
    --sidebar-accent: hsl(0 3.0928% 19.0196%);
    --sidebar-accent-foreground: hsl(0 0% 100%);
    --sidebar-border: hsl(0 3.0928% 19.0196%);
    --sidebar-ring: hsl(0 0% 100%);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);
    --font-serif: var(--font-serif);

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);

    --shadow-2xs: var(--shadow-2xs);
    --shadow-xs: var(--shadow-xs);
    --shadow-sm: var(--shadow-sm);
    --shadow: var(--shadow);
    --shadow-md: var(--shadow-md);
    --shadow-lg: var(--shadow-lg);
    --shadow-xl: var(--shadow-xl);
    --shadow-2xl: var(--shadow-2xl);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }

    body {
        @apply bg-background text-foreground;
        letter-spacing: var(--tracking-normal);
    }
}